{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "jsx-quotes": ["error", "prefer-single"],
    "array-bracket-spacing": ["error", "always"],
    "strict": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "plugins": [
    "import"
  ]
}
